<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 12px;
      }
      .page-break {
        page-break-after: always;
      }
      table {
        width: 100%;
        line-height: 30px;
        border: 5px solid #0000000d;
        padding: 0px 10px;
        margin-bottom: 30px;
        font-size: 12px;
      }
      td {
        font-size: 12px;
      }
      .header-img {
        width: 100%;
      }
      .center-text {
        text-align: center;
      }
      .title {
        text-align: center;
        margin-bottom: 20px;
      }
      ul {
        margin: 0;
        padding: 0 20px;
      }
      li {
        margin-bottom: 10px;
      }
      .section-title {
        font-weight: bold;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <!-- Page 1 -->
    <table border="0">
      <tr>
        <td>
          <img
            src="https://www.ramfincorp.com/loanapply/public/new_header.png"
            class="header-img"
          />
        </td>
      </tr>
      <tr>
        <td class="title">
          <h1>Sanction Letter</h1>
          <p>Date: <%= approval_detail.createdDate %></p>
        </td>
      </tr>
      <tr>
        <td><b>Dear <%= customer_detail.name %>,</b></td>
      </tr>
      <tr>
        <td>
          Thank you for your Loan Application made through
          <a href="https://www.ramfincorp.com">www.ramfincorp.com</a>
        </td>
      </tr>
      <tr>
        <td>
          We are pleased to sanction you a loan as per the enclosed terms and
          Schedule of Loan Sanction Terms:
        </td>
      </tr>
      <tr>
        <td>
          Please note that this sanction letter is issued in response to your
          loan application and based on the information you have provided to us.
        </td>
      </tr>
      <tr>
        <td>
          The Processing fees as charged is mentioned in the schedule and the
          same will be deducted from your loan amount upfront.
        </td>
      </tr>
      <tr>
        <td>
          You are under no obligation to accept the sanctioned loan. If you do
          not accept the sanction letter and the enclosed agreement your loan
          application will be considered withdrawn and you will not be liable to
          pay any processing fees/charges.
        </td>
      </tr>
      <tr>
        <td>
          The loan will be disbursed to your below-mentioned bank account after
          confirmation and acceptance of this sanction letter.
        </td>
      </tr>
      <tr>
        <td class="section-title">Your Bank Account Details:</td>
      </tr>
      <% if (account_detail) { %>
      <tr>
        <td>
          <ul>
            <li>Bank Name: <%= account_detail.bank %></li>
            <li>Account No: <%= account_detail.accountNo %></li>
            <li>Bank IFSC Code: <%= account_detail.bankIfsc %></li>
          </ul>
        </td>
      </tr>
      <% } %>

      <!-- Loan Details -->
      <tr>
        <td class="section-title">1. Loan Details:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              Amount: Rs. <%= Math.round(approval_detail.loanAmtApproved) %>
            </li>
            <li>Tenor: <%= approval_detail.tenure %> days</li>
            <li>Product: Pay Day Loan</li>
            <li>Rate of Interest: <%= approval_detail.roi %> % per day</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">2. Interest Calculation and Payment:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              Interest will be charged from the date of disbursal until the
              payment date.
            </li>
            <li>
              You are required to repay the loan amount along with the accrued
              interest on or before the due date.
            </li>
            <li>
              The repayment amount can be made via
              <a href="https://www.ramfincorp.com/pay-now/"
                >https://www.ramfincorp.com/pay-now/</a
              >, and the payment should be credited to our account by <%=
              approval_detail.repayDate %>.
            </li>
          </ul>
        </td>
      </tr>

      <!-- Page Break -->
      <tr class="page-break"></tr>

      <!-- Penalty and Prepayment Option -->
      <tr>
        <td class="section-title">3. Penalty and Late Payment:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>Penal interest is <%= ipcDpdInt %>% daily.</li>
            <li>
              A one-time penalty charge is <%= dpdPenality +
              dpdPenalityGstPercentage %>. The GST amount is included.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">4. Prepayment Option:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              You have the flexibility to prepay the loan amount before the due
              date without incurring any prepayment charges.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">
          5. Disbursement Process and Documentation:
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              The approved loan amount will be disbursed directly to your
              designated bank account upon completion of the necessary
              documentation and verification procedures.
            </li>
            <li>
              We kindly request accurate and up-to-date personal and financial
              information to facilitate a smooth and prompt loan processing
              experience.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">6. Collateral and Security:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              This Loan is unsecured, meaning there is no requirement for
              collateral. However, as a security, a security cheque will be
              deposited.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">7. Communication and Updates:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              Our primary mode of communication will be via the contact details
              provided during the application process. You will receive all
              loan-related correspondence through these channels.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">8. Privacy and Data Security:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              The security of your personal and financial information is of
              utmost importance to us. We adhere to stringent data protection
              laws to ensure the confidentiality and privacy of your
              information.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">9. Default and Consequences:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              In the event of failure to repay the loan by the due date, the
              loan shall attract interest for the defaulted period also.
              Additionally, defaulting on the loan may impact your credit
              rating.
            </li>
          </ul>
        </td>
      </tr>

      <!-- Page Break -->
      <tr class="page-break"></tr>

      <!-- Legal and Support -->
      <tr>
        <td class="section-title">10. Legal Jurisdiction:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              This loan agreement falls under the jurisdiction of New Delhi and
              is governed by the laws of the State of Delhi.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">11. Customer Support:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              Should you have any questions, concerns, or require further
              clarification, our dedicated customer support team is readily
              available at +91 98999-85495.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="section-title">12. Cooling off period/look-up period:</td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              For loan tenor less than 7 days: Cooling off period is one (1)
              day.
            </li>
            <li>
              For loan tenor more than 7 days: Cooling off period is three (3)
              days.
            </li>
            <li>
              No penalty will be levied for the payment of the principal amount
              and proportionate APR during the cooling period.
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          We genuinely appreciate your trust in R K Bansal Finance Pvt. Ltd. as
          your financial partner. By accepting this loan, you acknowledge and
          agree to the terms and conditions outlined in this letter.
        </td>
      </tr>
      <tr>
        <td>
          Thank you for choosing us for your financial needs. We look forward to
          assisting you and making your financial journey a success.
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Warm regards, <br /><img
              src="https://www.ramfincorp.com/loanapply/public/bhsign.png"
              style="width: 109px"
            /><br />R K Bansal Finance Pvt. Ltd.
          </p>
        </td>
      </tr>
    </table>
    <table border="0">
      <tr>
        <td>
          <img
            src="https://www.ramfincorp.com/loanapply/public/new_header.png"
            class="header-img"
          />
        </td>
      </tr>
      <tr>
        <td class="title">
          <h1>Sanction Letter</h1>
          <p>
            Date: <%= approval_detail.createdDate %>
            <span style="float: right"
              >Applicant Name: <%= customer_detail.name %></span
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <table
            border="1"
            style="
              width: 100%;
              border-collapse: collapse;
              padding: 12px;
              line-height: 25px;
            "
          >
            <tr>
              <td>SN.</td>
              <td>Parameter</td>
              <td>
                Details (given for illustrative computation purposes only)
              </td>
            </tr>
            <tr>
              <td>(i)</td>
              <td>
                Loan amount (amount disbursed/to be disbursed to the borrower)
                (in Rupees)
              </td>
              <td><%= Math.round(approval_detail.loanAmtApproved) %></td>
            </tr>
            <tr>
              <td>(ii)</td>
              <td>
                Total interest charge during the entire tenor of the loan (in
                Rupees)
              </td>
              <td><%= intem %></td>
            </tr>
            <tr>
              <td>(iii)</td>
              <td>
                Other up-front charges, if any (break-up of each component to be
                given below) (in Rupees)
              </td>
              <td><%= Math.round(gst + approval_detail.adminFee) %></td>
            </tr>
            <tr>
              <td>(a)</td>
              <td>Processing fees, if any (in Rupees)</td>
              <td><%= Math.round(approval_detail.adminFee) %></td>
            </tr>
            <tr>
              <td>(b)</td>
              <td>GST charges, if any (in Rupees)</td>
              <td><%= Math.round(gst) %></td>
            </tr>
            <tr>
              <td>(c)</td>
              <td>Others (if any) (in Rupees)</td>
              <td>-</td>
            </tr>
            <tr>
              <td>(iv)</td>
              <td>Net disbursed amount ((i)-(iii)) (in Rupees)</td>
              <td><%= Math.round(fdb) %></td>
            </tr>
            <tr>
              <td>(v)</td>
              <td>
                Total amount to be paid by the borrower (sum of (i), (ii), and
                (iii)) (in Rupees)
              </td>
              <td><%= rep1 %></td>
            </tr>
            <tr>
              <td>(vi)(a)</td>
              <td><b>Annual Percentage Rate(Annual)</b></td>
              <td><b><%= apr %> %</b></td>
            </tr>
            <tr>
              <td>(vi)(b)</td>
              <td><b>Annual Percentage Rate(Monthly)</b></td>
              <td><b><%= apr/12%> %</b></td>
            </tr>
            <tr>
              <td>(vii)</td>
              <td>Tenor of the Loan (in days)</td>
              <td><%= approval_detail.tenure %> days</td>
            </tr>
            <tr>
              <td>(viii)</td>
              <td>Repayment frequency by the borrower</td>
              <td>Day</td>
            </tr>
            <tr>
              <td>(ix)</td>
              <td>Number of instalments of repayment</td>
              <td>1</td>
            </tr>
            <tr>
              <td>(x)</td>
              <td>Amount of each instalment of repayment (in Rupees)</td>
              <td><%= rep1 %></td>
            </tr>
            <tr>
              <td>(xi)</td>
              <td>
                Rate of annualized penal charges in case of delayed payments (if
                any)
              </td>
              <td><%= ipcDpdInt %>% daily</td>
            </tr>
            <tr>
              <td>(xii)</td>
              <td>Rate of annualized other penal charges (if any)</td>
              <td>NA</td>
            </tr>
            <tr>
              <td>(xiii)</td>
              <td>
                Cooling off/look-up period during which borrower shall not be
                charged any penalty on prepayment of loan
              </td>
              <td>3 Days</td>
            </tr>
            <tr>
              <td>(xiv)</td>
              <td>
                Details of LSP acting as recovery agent and authorised to
                approach the borrower
              </td>
              <td>R K Bansal Finance Private Limited</td>
            </tr>
            <tr>
              <td>(xv)</td>
              <td>
                Name, designation, address and phone number of nodal grievance
                redressal officer designated specifically to deal with FinTech/
                digital lending related complaints/issues
              </td>
              <td>
                Amit(Collection Head), 4338, Padam Singh Road, Karol Bagh, New
                Delhi-110005 +919910179872
              </td>
            </tr>
          </table>
          <p>
            The difference in repayment amount calculated from the total of
            instalments given under the detailed repayment schedule. If there
            are any changes in the amount, it is due to rounding off.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Warm regards, <br /><img
              src="https://www.ramfincorp.com/loanapply/public/bhsign.png"
              style="width: 109px"
            /><br />R K Bansal Finance Pvt. Ltd.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
